.main{
  width: 700px;
  height: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%) !important;
  position: absolute;
}

.container{
  border-color: rgb(175, 159, 189);
  border-style: ridge;
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
  height: 150px;
}

#one{
  font-size: 30px;
  color: blue;
}

.rooms{
  font-size: 1.5em;
}

.leftSide{
  color: blue;
  text-align: left;
}

.rightSide{
  float: right;
}

#iconOne{
  color: blue;
}

#iconTwo{
  color: brown;
}

.adults{
  font-size: 1.5em;
  padding-top: 20px;
}

.children{
  font-size: 1.5em;
  padding-top: 20px;
}


button:disabled {
  background: #444;
}